<%= fields_for 'release[tracks_attributes][]', track do |f| %>
  <li class="release-track" id="release_<%= dom_id(track) %>">
    <%= hidden_field_tag 'release[track_ids][]', track.id, id: "release_track_ids_#{track.id}" %>
    <%= f.hidden_field :id %>
    <div class="release-track-handle">
      <%= f.number_field :position %>
    </div>
    <div class="release-track-info">
      <span class="filename"><%= track.attachment_file_name %></span>
    </div>
    
    <div class="release-track-name editable">
      <%= f.text_field :artist, placeholder: 'Artist name' %>
      <span>-</span>
      <%= f.text_field :title,  placeholder: 'Track title' %>
    </div>
    <div class="release-track-delete">
      <%= link_to 'Delete', track,
            data:  { method: 'DELETE', remote: true },
            class: 'delete' %>
    </div>
  </li>
<% end %>