<% title 'Update Account' %>
<%= semantic_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
  <%= f.inputs "Update your account" do %>
    <%= f.input :name,  placeholder: 'Your name'           %>
    <%= f.input :email, placeholder: 'Your e-mail address' %>
    <%= f.input :current_password, hint: 'We need your current password to confirm your changes' %>
  <% end %>
  <%= f.inputs "Update your password" do %>
    <%= f.input :password              %>
    <%= f.input :password_confirmation %>
  <% end %>
  <%= f.actions do %>
    <li class="action">
      <%= f.submit 'Save',
            class: 'submit-btn' %>
    </li>
  <% end %>
<% end %>
