<%= semantic_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
  <%= f.inputs 'Sign up' do %>
    <%= f.input :name,  placeholder: 'Your name'           %>
    <%= f.input :email, placeholder: 'Your e-mail address' %>
    <%= f.input :password                                  %>
    <%= f.input :password_confirmation, required: true     %>
  <% end %>
  <%= f.actions do %>
    <li class="action">
      <%= hidden_field_tag 'user[invite_code]', invite_code %>
      <%= f.submit 'Sign up',
            class: 'submit-btn' %>
    </li>
  <% end %>
<% end %>

<%= render 'devise/shared/links' %>
