<%
start_date = [dataset.keys.min, Date.today].compact.first
end_date   = [dataset.keys.max, start_date + 30.days].compact.max
date_range = (start_date ... end_date)
%>
<div class="d3-bar-chart">
  <table class="data">
    <% date_range.each.with_index do |date, index| %>
      <tr class="<%= 
        date.month.even? ? 'even' : 'odd'
      %>-month <%=
        if date == Date.today
          'present'
        elsif date < Date.today
          'past'
        else
          'future'
        end
      %>">
        <th class="month-name">
          <% if index == 0 || date.day == 1 %>
            <%= Date::MONTHNAMES[date.month] %>
          <% end %>
        </th>
        <th class="month-day">
          <%= date.day %>
        </th>
        <td class="value">
          <%= params[:random].present? && date <= Date.today ? (30 - index) / 2 + rand(10 + (30 - index) / 2) : dataset[date] || 0 %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
