<% title "\"#{@campaign.name}\" Metrics" %>

<div class="release-metrics">
  <section class="metrics">
    <header class="metrics-activity-header">
      <h2>Metrics</h2>
    </header>
    
    <%= render 'opens_and_feedback',
          opens:      @open_count,
          recipients: @recipient_count,
          feedback:   @feedback_count   %>
    
    <%= render 'average_track_ratings' %>
    
    <%= render 'plays_and_opens',
          plays: @plays_per_day,
          opens: @opens_per_day,
          start: @campaign.try(:sent_at) %>
  </section>
  
  <section class="release-metrics-activity">
    <header class="metrics-activity-header">
      <h2>Activity</h2>
      <!--
      <div class="sort">
        <a class="activity-sort" data-toggle="dropdown">Sort</a>
        <ul class="dropdown-menu">
          <li class="js-activity-feedback">Feedback<span class="js-active"></span></li>
          <li class="js-activity-open">Open<span class="js-active"></span></li>
          <li class="js-activity-lestens">Listens<span class="js-active"></span></li>
        </ul>
      </div>
      -->
    </header>
    
    <%= render 'events_grouped_by_date', events_by_date: @events_by_date %>
  </section>
</div>

<!--
<section class="release-feedbacks">
  <% if @feedbacks.present? %>
    <ol>
      <%= render @feedbacks %>
    </ol>
  <% else %>
    <p>There are is no feedback yet</p>
  <% end %>
</section>
-->