<%= form_for @label, html: { class: 'main-label edit'} do |f| %>
  <div class="main-label-top">
    <div class="main-label-img-drop">
      <label for="label_cover">
        <div class="main-label-img-info">
          Drag &amp; drop image here
          <%= f.file_field :cover %>
        </div>
        <span class="main-label-img-info">
          230px by 230px works best
        </span>
      </label>
    </div>
    <div class="main-label-header">
      <span class="main-label-header-title">
        <%= f.text_field :name, placeholder: 'Label name' %>
      </span>
      <%= f.submit 'Accept', class: 'main-label-header-accept' %>
      <%= link_to 'Cancel', :back,  class: 'main-label-header-cancel' %>
    </div>
    <div class="main-label-content ">
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div class="main-label-info">
    <div class="main-label-label-box">
      <h4>Label Information</h4>
      <ul>
        <li>
          <div class="input-prepend">
            <span class="add-on">Catid</span>
            <%= f.text_field :catid, class: 'span2', placeholder: 'Catid' %>
          </div>
        </li>
        <li>
          <div class="input-prepend">
            <span class="add-on">Style</span>
            <%= f.text_field :style, class: 'span2', placeholder: 'Style' %>
          </div>
        </li>
      </ul>
    </div>
    <div class="main-label-contact-box">
      <h4>Contact Information</h4>
      <ul>
        <li>
          <%= f.text_field :contact_name,
                placeholder: 'Contact name' %>
        </li>
        <li>
          <%= f.text_field :contact_street,
                placeholder: 'Street & housenumber' %>
        </li>
        <li>
          <%= f.text_field :contact_zipcode_city,
                placeholder: 'Zipcode & city' %>
        </li>
      </ul>
      <ul>
        <li>
          <%= f.text_field :contact_email,
                placeholder: 'Email address' %>
        </li>
        <li>
          <%= f.text_field :contact_phone,
                placeholder: 'Telephone number' %>
        </li>
        <li>
          <%= f.text_field :contact_url,
                placeholder: 'Website URL' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>