<section class="music-label cover-box" id="<%= dom_id(label) %>">
  <div class="top">
    <div class="cover">
      <%= image_tag label.cover.url(:thumbnail_2x) %>
    </div>
    <header class="header">
      <%= link_to label.name, label, class: 'header-title' %>
      <span class="header-count"><%= label.releases.count %></span>
      <%= link_to 'Edit', [:edit, label],
          class: 'header-action music-label-header-edit' %>
      <%= link_to 'Show', label,
          class: 'header-action music-label-header-sound' %>
    </header>
    <div class="content">
      <%= simple_format label.description %>
    </div>
  </div>
  <div class="music-label-info">
    <div class="music-label-label-box">
      <h4>Label Information</h4>
      <ul>
        <li><%= label.name %></li>
        <li><strong>Catcode:</strong> <%= label.catid %></li>
        <li><strong>Style:</strong> <%= label.style %></li>
      </ul>
    </div>
    <div class="music-label-contact-box">
      <h4>Contact Information</h4>
      <ul>
        <li><strong><%= label.contact_name %></strong></li>
        <li><%= label.contact_street %></li>
        <li><%= label.contact_zipcode_city %></li>
      </ul>
      <ul>
        <li><%= link_to label.contact_email, "mailto:#{label.contact_email}", class: 'email' %></li>
        <li><%= label.contact_phone  %></li>
        <li><%= link_to label.contact_url, label.contact_url, class: 'url' %></li>
      </ul>
    </div>
  </div>
</section>
