<table class="table table-striped main-table">
  <caption class="main-table-caption">
    <span class="main-table-title"><%= list.name %></span>
    <span class="main-table-count"><%= list.contacts.count %></span>
    <span class="main-table-add"><%=  link_to 'Add Contact', new_contact_list_contact_path(list) %></span>
    <span class="main-table-edit"><%= link_to 'Edit List',   edit_contact_list_path(list) %></span>
    <span class="main-table-importexport"><a href="#">Import</a> or <a href="#">Export</a> contacts</span>
  </caption>
  <thead class="main-table-head">
    <tr>
      <th>E-mail</th>
      <th>First name</th>
      <th>Last name</th>
      <th class="main-table-btn-edit"><a href="#"></a></th>
      <th class="main-table-btn-del"><a href="#"></a></th>
    </tr>
  </thead>
  <tbody class="main-table-body">
    <%= render contacts %>
  </tbodu>
</table>