<%
legend = @contact_list.new_record? ? "Create a new contact list" :
                                     "Update contact list"
%>
<%= semantic_form_for @contact_list do |f| %>
  <%= f.error_messages %>
  <%= f.inputs legend do %>
    <%= f.input :name, placeholder: 'The name of your contact list' %>
  <% end %>
  <%= f.actions do %>
    <li class="action">
      <%= link_to  'Delete', @contact_list,
            class: 'delete-btn',
            data: { method: 'DELETE' } unless @contact_list.new_record? %>
      <%= f.submit 'Save',
            class: 'submit-btn' %>
    </li>
  <% end %>
<% end %>