<% title 'Password Recovery' %>
<%= semantic_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
  <%= f.inputs 'Forgot your password?' do %>
    <%= f.input :email %>
  <% end %>
  <%= f.actions do %>
    <li class="action">
      <%= f.submit 'Send me reset password instructions',
            class: 'submit-btn' %>
    </li>
  <% end %>
<% end %>
