<aside id="sidebar" class="main-sidebar">
  <% if current_organization.labels.count > 0 %>
  <h3>Overview</h3>
  
  <%= link_to releases_url, class: 'shortcut releases-shortcut' do %>
    <span class="title">Releases</span>
    <span class="number"><%= current_organization.releases.count %></span>
  <% end %>
  
  <!--
  <%= link_to artists_url, class: 'shortcut artists-shortcut' do %>
    <span class="title">Artists</span>
    <span class="number"><%= current_organization.artists.count %></span>
  <% end %>
  -->
  
  <%= link_to contact_lists_url, class: 'shortcut contacts-shortcut' do %>
    <span class="title">Contacts</span>
    <span class="number"><%= current_organization.contacts.count %></span>
  <% end %>
  
  <%= link_to labels_url, class: 'shortcut labels-shortcut' do %>
    <span class="title">Labels</span>
    <span class="number"><%= current_organization.labels.count %></span>
  <% end %>
  <% end %>
  
  <h3>Account</h3>
  <% current_organization.tap do |org| %>
    <div class="account-status">
      <h4>Disk space</h4>
      <p>
        You have used
        <strong><%= number_to_human_size org.used_disk_space %></strong> of
        <strong><%= number_to_human_size org.available_disk_space %></strong>
      </p>
      <%
      disk_space_progress_class = org.used_disk_space > org.available_disk_space ? 'progress progress-danger' : 'progress'
      disk_space_progress_width = ((org.used_disk_space.to_f / org.available_disk_space) * 100).round
      disk_space_progress_width = 100 if disk_space_progress_width > 100
      %>
      <div class="account-progress">
        <div class="<%= disk_space_progress_class %>">
          <div class="bar" style="min-width: 1px; width: <%= disk_space_progress_width %>%;"></div>
        </div>
      </div>
      
      <h4>Inclusive bandwith</h4>
      <p>
        You have used
        <strong><%= number_to_human_size org.used_bandwidth %></strong> of
        <strong><%= number_to_human_size org.available_bandwidth %></strong>
      </p>
      <%
      bandwidth_progress_class = org.used_bandwidth > org.available_bandwidth ? 'progress progress-danger' : 'progress'
      bandwidth_progress_width = (org.used_bandwidth.to_f / org.available_bandwidth) * 100
      bandwidth_progress_width = 100 if bandwidth_progress_width > 100
      %>
      <div class="account-progress">
        <div class="<%= bandwidth_progress_class %>">
          <div class="bar" style="min-width: 1px; width: <%= bandwidth_progress_width %>%;"></div>
        </div>
      </div>
    </div>
  <% end %>
</aside>
