<header id="top" class="page-header">
  <div class="content">
    <%= link_to 'Sound Campaign', root_url, id: 'logo', class: 'logo' %>
    
    <% if user_signed_in? %>
      <nav class="account-nav logged-in dropdown">
        <%= link_to edit_user_registration_path, :data => {:toggle=>"dropdown"}, class: 'user dropdown-toggle' do %>

          <%= gravatar_tag current_user.email %>
          <span><%= current_user.name %></span>
        <% end%>
        <ul class="dropdown-menu" role="menu">
          <div class="dropdown-arrow"></div>
          <li><a class="dd-settings" href="#">Account settings</a></li>
          <li><a class="dd-payment" href="#">Payment details</a></li>
          <li><a class="dd-logout" href="#">Sign out</a></li>
        </ul>
      </nav> 
        
        <!-- dropdown menu -->
      
    <% else %>
      <nav class="account-nav ">
        <%= link_to content_tag(:span, 'Log in'), new_user_session_path, class: 'btn btn-black login-btn' %>
      </nav>
    <% end %>


    
    <!--
    <nav class="section-nav">
      <ul>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">Contactlists</a></li>
      </ul>
    </nav>
    -->
  </div>
</header>
