<header id="top" class="page-header">
  <div class="content">
    <%= link_to 'Sound Campaign', root_url, id: 'logo', class: 'logo' %>
    
    <% if user_signed_in? %>
      <nav class="account-nav logged-in dropdown">
        <%= link_to edit_user_registration_path, :data => {:toggle=>"dropdown"}, class: 'user dropdown-toggle' do %>

          <%= gravatar_tag current_user.email %>
          <span><%= current_user.name %></span>
        <% end%>
        <ul class="dropdown-menu" role="menu">
          <div class="dropdown-arrow"></div>
          <li><%= link_to 'Account settings', edit_user_registration_path, class: 'dd-settings' %></li>
          <!--
            <li><%= link_to 'Payment details', nil, class: 'dd-payment' %></li>
          -->
          <li><%= link_to 'Sign out', destroy_user_session_path, class: 'dd-logout' %></li>
        </ul>
      </nav> 
    <% else %>
      <nav class="account-nav ">
        <%= link_to content_tag(:span, 'Log in'), new_user_session_path, class: 'btn btn-black login-btn' %>
      </nav>
    <% end %>
    
    <!--
    <nav class="section-nav">
      <ul>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">Contactlists</a></li>
      </ul>
    </nav>
    -->
  </div>
</header>
