<header id="top" class="page-header">
  <div class="content">
    <%= link_to 'Sound Campaign', root_url, id: 'logo', class: 'logo' %>
    
    <nav class="account-nav">
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path, class: 'user' do %>
          <%= gravatar_tag current_user.email %>
          <span><%= current_user.name %></span>
        <% end%>
        <!-- dropdown menu --> 
      <% else %>
        <%= link_to content_tag(:span, 'Log in'), new_user_session_path, class: 'btn btn-black' %>
      <% end %>
    </nav>
    
    <!--
    <nav class="section-nav">
      <ul>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">Contactlists</a></li>
      </ul>
    </nav>
    -->
  </div>
</header>
