<% title 'Import Contacts' %>
<section class="section" id="import">
  <%= render 'header', title: 'Add new contacts'%>
  <%= semantic_form_for [@context, @import] do |f| %>
    <%= f.inputs 'Import' do %>
      <%= f.input :spreadsheet, as: :file %>
    <%  end %>
    <%= f.actions do %>
      <li class="action">
        <%= f.submit 'Import',
              class: 'submit-btn' %>
      </li>
    <% end %>
  <%  end %>
</section>
