<%
contact = feedback.recipient.try(:contact)
name    = contact.try(:name)
email   = contact.try(:email) || feedback.recipient.try(:email)
%>
<li class="feedback">
  <div class="feedback-header">
    <% if email %>
      <div class="feedback-header-gravatar"><%= gravatar_tag email %></div>
    <% end %>
    <div class="feedback-header-name">
      <%= name || email %>
      <% if name && email %>
        <small>(<%= email %>)</small>
      <% end %>
    </div>
  </div>
  <div class="feedback-body">
    <%= simple_format feedback.body %>
    
    <% if feedback.ratings.present? %>
      <ul class="tracks">
        <% feedback.ratings.each do |rating|%>
          <% if rating.track.present? %>
            <li class="track">
              <div class="rating">
                <%
                on_stars   = (rating.value / 2).floor
                half_stars = rating.value.odd? ? 1 : 0
                off_stars  = 5 - on_stars - half_stars
                %>
                <% on_stars.times do %>
                  <%= image_tag "icons/star-on-white.png" %>
                <% end %>
                <% half_stars.times do %>
                  <%= image_tag "icons/star-half-white.png" %>
                <% end %>
                <% off_stars.times do %>
                  <%= image_tag "icons/star-off-white.png" %>
                <% end %>
              </div>
              <div class="filename"><%= rating.track.artist %> - <%= rating.track.title %></div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</li>
