<%
contact = feedback.recipient.try(:contact)
%>
<li class="feedback">
  <div class="feedback-header">
    <div class="feedback-header-gravatar"><%= gravatar_tag current_user.email %></div>
    <div class="feedback-header-name">
      <%= contact.try(:name) || feedback.recipient.email %>
      <% if contact.try(:name) && contact.try(:email) %>
      <small>(<%= contact.email %>)</small>
      <% end %>
    </div>
  </div>
  <div class="feedback-body">
    <%= simple_format feedback.body %>
  </div>
  <ul class="feedback-ratings">
    <% feedback.ratings.each do |rating| %>
      <li><strong><%= rating.track.title %>:</strong> <%= pluralize(rating.value, 'star') %></li>
    <% end %>
  </ul>
</li>
