<% if feedback.present? %>
  <%= form_for [release, feedback], html: { class: 'release-player release-player-with-feedback'} do |f| %>
    <div class="jplayer"></div>
    <div class="releases faux-table">
      <%= render 'player_content', release: release, feedback: feedback, tracks: tracks, form: f %>
      
      <% if feedback.persisted? %>
      <!--
      <div class="bar">
        <a class="download-release">Download release as a zipfile</a>
      </div>
      -->
      <% end %>
    
      <div class="feedback">
        <span>Your feedback</span>
        <%= f.text_area :body %>
      
        <%= hidden_field_tag :secret, params[:secret] if params[:secret].present? %>
      
        <%= f.submit (release.persisted? ? 'Update feedback' : 'Submit feedback'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="release-player release-player-no-feedback">
    <div class="jplayer"></div>
    <div class="releases faux-table">
      <%= render 'player_content', release: release, tracks: tracks, feedback: nil, form: nil %>
    </div>
  </div>
<% end if tracks.present? %>
