<%
first_track = tracks.first

if first_track.present?
%>
  <%= form_for [release, feedback], html: { class: 'release-player'} do |f| %>
    <div class="jplayer"></div>
    <div class="releases faux-table">
      <div class="top">
        <span class="title"><%= release.title %></span>
      </div>
      <div class="player">
        <!--
        <div class="timeline">
          <div class="waveform">
            <%= image_tag("temp/temp_waveform.png", style: "width:100%;height:100%") %>
          </div>
          <div class="loader" style="width:50%"></div>
          <div class="location" style="left:25%"></div>
        </div>
        -->
        <div class="controls">
          <div class="left"></div>
          <div class="playpause"></div>
          <div class="right"></div>
        </div>
        <div class="time">
          <span class="current-time">00:00</span> /
          <span class="track-length"><%= duration_to_clock first_track.length %></span>
          <span class="track-artist"><%= first_track.artist %></span> -
          <strong class="track-title"><%= first_track.title %></strong>
        </div>
        <!--
        <div class="volume">
        </div>
        -->
      </div>
      
      <% tracks.each.with_index do |track, index| %>
        <%= render 'releases/track', release: release, track: track, position: index + 1, feedback: feedback, form: f %>
      <% end %>
      
      <% if feedback.persisted? %>
      <!--
      <div class="bar">
        <a class="download-release">Download release as a zipfile</a>
      </div>
      -->
      <% end %>
      
      <div class="feedback">
        <span>Your feedback</span>
        <%= f.text_area :body %>
        
        <%= hidden_field_tag :secret, params[:secret] if params[:secret].present? %>
        
        <%= f.submit 'Submit feedback', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
