<aside id="sidebar" class="main-sidebar">
  <% if release.cover %>
    <div class="release-cover">
      <%= image_tag(release.cover.url, alt: "#{release.title} cover") %>
    </div>
  <% end %>
  <div class="release-info">
    <h3>Label Information</h3>
    <ul>
      <li><strong><%= label.name %></strong></li>
      <li><%= label.contact_name %></li>
      <li><%= label.contact_street%></li>
      <li><%= label.contact_zipcode_city %></li>
    </ul>
    <ul>
      <li><%= link_to label.contact_email, "mailto:#{label.contact_email}"%></li>
      <li><%= label.contact_phone %></li>
    </ul>
  </div>
</aside>
