<div class="bar player-track"
     data-track-id="<%= track.id %>"
     data-length="<%= track.length %>"
     data-attachment-url="<%= track.attachment.url(:streaming) %>"
     data-waveform-url="<%= track_url(track) %>">
  <% if feedback.try(:persisted?) %>
    <%= link_to 'download', track.attachment.url(:download), class: 'download', download: track.attachment_file_name %>
  <% elsif feedback && form %>
    <%= form.hidden_field :id if rating.persisted? %>
    <%= form.hidden_field :track_id %>
    <%= form.select :value, 1.upto(10).to_a, { include_blank: true }, class: 'rating' %>
    <div class="star"></div>
  <% end %>
  <span class="player-track-title"><span class="track-position"><%= track.position || position %></span>. <span class="track-artist"><%= track.artist %></span> - <strong class="track-title"><%= track.title %></strong></span>
</div>
