<% rating = feedback.rating_for(track) %>
<%= form.fields_for :ratings, rating do |f| %>
  <div class="bar player-track" data-length="<%= track.length %>" data-attachment-url="<%= track.attachment.url %>">
    <span class="player-track-title"><span class="track-position"><%= track.position || position %></span>. <span class="track-artist"><%= track.artist %></span> - <strong class="track-title"><%= track.title %></strong></span>
    <% if feedback.persisted? %>
    <%= link_to 'download', track.attachment.url, class: 'download', download: track.attachment_file_name %>
    <% end %>
    <%= f.hidden_field :id       if rating.persisted? %>
    <%= f.hidden_field :track_id %>
    <%= f.select :value, 1.upto(10).to_a,
               { include_blank: true },
                 class: 'rating' %>
    <div class="star"></div>
  </div>
<% end %>
