<% rating = feedback.rating_for(track) %>
<%= form.fields_for :ratings, rating do |f| %>
  <div class="bar player-track">
    <span class="player-track-title"><%= track.position || position %>. <%= track.artist %> - <strong><%= track.title %></strong></span>
    <%= link_to 'download', track.attachment.url, class: 'download', download: track.attachment_file_name %>
    <%= f.hidden_field :id       if rating.persisted? %>
    <%= f.hidden_field :track_id %>
    <%= f.select :value, 1.upto(10).to_a,
               { include_blank: true },
                 class: 'rating' %>
    <div class="star"></div>
  </div>
<% end %>
