<% if @release.cover %>
  <div class="release-background" style="background: url('<%= @release.cover.poster_url %>'); background-size: cover;">
  </div>
<% else %>
  <div class="release-background" style="background: url('<%= asset_url 'tijdelijk_bg.png' %>');background-size: 100%;">
  </div>
<% end %>

<section id="content" class="content-wrapper">
  <%= render 'releases/sidebar',
        release: @release, label:  @label %>
  <%= render 'releases/player',
        release: @release, tracks: @tracks, feedback: @feedback %>
  <%= render 'releases/description',
        release: @release %>
</section>
