<%
recipient = event.recipient
feedback  = event.parent
%>
<div class="metrics-activity-item js-activity-feedback">
  <div class="metrics-activity-heading">
    <a class="metrics-activity-toggle" data-toggle="collapse" href="#<%= dom_id(event) %>">
      <span class="activity-time"><%= event.created_at.strftime('%H:%M') %></span>
      <strong><%= recipient.name %></strong> has given feedback
    </a>
  </div>
  <div id="<%= dom_id(event) %>" class="collapse">
    <div class="metrics-activity-inner">
      <%= simple_format feedback.body %>
    
      <% if feedback.ratings.present? %>
        <ul class="tracks">
          <% feedback.ratings.each do |rating|%>
            <li class="track">
              <div class="rating">
                <%
                on_stars   = (rating.value / 2).floor
                half_stars = rating.value.odd? ? 1 : 0
                off_stars  = 5 - on_stars - half_stars
                %>
                <% on_stars.times do %>
                  <%= image_tag "icons/star-on-white.png" %>
                <% end %>
                <% half_stars.times do %>
                  <%= image_tag "icons/star-half-white.png" %>
                <% end %>
                <% off_stars.times do %>
                  <%= image_tag "icons/star-off-white.png" %>
                <% end %>
              </div>
              <div class="filename"><%= rating.track.artist %> - <%= rating.track.title %></div>
            </li>
          <% end %>
        </ul>
      <% end %>
      </ul>
    </div>
  </div>
</div>
