<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>SOUNDCAMPAIGN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    :application, data: { 'turbolinks-track' => true } %>
    <%= javascript_include_tag :modernizr,   data: { 'turbolinks-track' => true } %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page-public-release">
    <div class="page-wrapper">
      <%= render 'shared/header' %>
      <div class="release-background" style="background: url(/assets/tijdelijk_bg.png);background-size: 100%;"></div>
    
      <section id="content" class="content-wrapper">
        <aside id="sidebar" class="main-sidebar">
          <div class="release-cover">
            <%= image_tag("release-cover.png", :alt => "Release cover") %>
          </div>
          <div class="release-info">
            <h3>Label Information</h3>
            <ul>
              <li><strong>Diynamic</strong></li>
              <li>Adriano Trolio</li>
              <li>Talstrasse 9 </li>
              <li>D-20359 Hamburg</li>
            </ul>

            <ul>
              <li><a href="mailto:adriano@diybookings.com">adriano@diybookings.com</a></li>
              <li>+31 (0)6 12 33 48 65 32</li>
            </ul>
          </div>
        </aside>

        <div class="release-player">
          <div class="releases faux-table">
              <div class="top">
                <span class="title">Diynamic #058 - Wowshit EP</span>
              </div>
              <div class="player" style="height:147px">
                <div class="timeline">
                  <div class="waveform">
                    <!-- temp waveform img -->
                    <%= image_tag("temp/temp_waveform.png", :style => "width:100%;height:100%") %>
                  </div>
                  <div class="loader" style="width:50%"></div>
                  <div class="location" style="left:25%"></div>
                </div>
                <div class="controls">
                  <div class="left"></div>
                  <div class="playpause"></div>
                  <div class="right"></div>
                </div>
                <div class="time">01:34 / 06:34 01. Karmon &amp; NTFO - <strong>Nobody Else</strong></div>
                <div class="volume">
                </div>
              </div>
              <div class="bar">
                <span>01. Karmon & NTFO - <strong>Nobody Else</strong> (Original Mix)</span>
                <a class="download">download</a>
                <div class="star"></div>
              </div>
              <div class="bar">
                <span>02. Karmon - <strong>Wowshit</strong> (Original Mix)</span>
                <a class="download">download</a>
                <div class="star"></div>
              </div>
              <div class="bar">
                <span>03. Betoko - <strong>Raining Again</strong> (Original Mix)</span>
                <a class="download">download</a>
                <div class="star"></div>
              </div>
              <div class="bar">
                <a class="download-release">Download release as a zipfile</a>
              </div>
              <div class="feedback">
                <span>Your feedback</span>
                <textarea></textarea>
                <button class="btn btn-primary" type="button">Submit feedback</button>
              </div>
          </div>

        </div>

        <div class="release-content">
          <h1>Diynamic #058 - Wowshit EP</h1>

          <p>With its 58th announcement, Diynamic presents a three track Various Artists EP which will surely make every club and Open Air go insane. Nobody Else is a collaboration between Netherlands export Karmon and NTFO, who already appears on the Various Artist EP and on H.O.S.H.'s latest EP. "Nobody Else" already got huge attention by the club scene.</p>

          <p>With its bouncy baseline and its driving hats highlighted by spherically playful notes "Nobody Else" immediately casts a spell over you. With his second contribution, Karmon creates a wonderful interaction between good and evil. With the funky brass synth on top of a pumping baseline "Wowshit" is a worthy employer name for this EP and a proof for of what 24 year old Karmon is capable of.</p>

          <p>On the B Side Betoko delivers a melodic dance tune. "Raining Again" convinces by a deep male vocal with is supported by dramatic organs and a bouncy baseline. To be honest, the meaning of the hook is familiar to everyone..</p>
        </div>

      </section>
    </div>
    <footer class="page-footer">
      <div class="content">
        <%= image_tag("sc_logo.svg", :alt => "SoundCampaign") %>
        <span>Sent with</span> 
      </div>
    </footer>
    <%= render 'shared/javascripts' %>
  </body>
</html>
