<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="teaser-layout no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="teaser-layout no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="teaser-layout no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="teaser-layout no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>SOUNDCAMPAIGN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    :application,    data: { 'turbolinks-track' => true } %>
    <%= javascript_include_tag :modernizr, data: { 'turbolinks-track' => true } %>
    <%= render 'shared/javascripts' %>
    <script type="text/javascript" src="//use.typekit.net/dcj1luk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
  </head>
  <body class="front-page">
    <%= render 'shared/header' %>
    <%= flash_messages %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
